.navigation{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 30px 10px 30px;
  .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .nav{
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
    }
    .chart{
      display: flex;
      justify-content: center;
    }
  }
}
.btn{
  background-color: aliceblue !important;
  color:black !important;
  font-size: 12px;
  margin: 0 5px
}
.cartLink{
  position: relative;
}
  .cartBadge {
    position: absolute;
    left: 51%;
    top: 62%;
    background-color: red;
  }