.navigation{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 30px 10px 30px;
  .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .nav{
      margin-bottom: 20px;
    }
    .chart{
      display: flex;
      justify-content: center;
    }
  }
}
.btn{
  padding: 0 20px;
  height: 30px;
  margin: 0 10px;
  font-size: 18px;
}